__pycache__/
notebooks/outputs/*.dot
notebooks/outputs/*.png
notebooks/outputs/*.txt

*.ipynb
!AnscombeQuartetVisualization.ipynb
!AssociationMiningAlgorithms.ipynb
!COVID19ChoroplethVisualization.ipynb
!COVID19YMTemporalVisualization.ipynb
!FoodNetworkVisualization.ipynb
!IrisDataClassificationVisualization.ipynb
!LaptopDataPrediction.ipynb
!MediaNetworkVisualization.ipynb
!NetflixNetworkVisualization.ipynb
!TextVisualizationMax.ipynb
!TwitchDataVisualization.ipynb
!VideoGamesSalesVisualization.ipynb
!WineDataClassification.ipynb
!WineDataDiscretization.ipynb
!YoutubeCommentsVisualization.ipynb